@import "components";

html, body {
  min-height: 100%;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}

.apps-list {

  max-width: 70%;

  .apps-list .row:not(list-child) {
    margin-bottom: 20px;
  }

}

.panel-heading {
  min-height: 40px;
}

.preview-icon {
  max-width: 50px;
}

.default-preview-icon {
  color: rgba(0, 0, 0, .3);
  font-size: 2.6em;
  margin-top: 5px;
  width: 50px;
  text-align: center;
}

.app-desc {
  margin-left: 20px;
  font-size: 1.2em;
}

.form-signin {

  max-width: 330px;

  button[type="submit"] {
    margin-top: 5px;
  }

  .input-group.username {

    .input-group-addon {

      border-bottom-left-radius: 0;

    }

    input {

      border-bottom-right-radius: 0;

    }

  }

  .input-group.password {

    .input-group-addon {

      border-top-left-radius: 0;

    }

    input {

      border-top-right-radius: 0;

    }

  }


}

.app-version-row {
  padding: 20px;
}

.accordion-toggle,
.nav-tabs a {
  cursor: pointer;
}

// TODO variabiliser et componentiser OO'

.inner-tab-content-wrapper {
  padding: 3% 5%;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: #fff;
}

#admin-page {
  background-color: white;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.remove-app-icon {
  margin-left: 5px;
}

.invalid-credentials {
  padding: 5px;
  margin-top: 5px;
  border-radius: 2px;
  text-align: center;
}

#admin-page {
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}


#manage-bundles-pane {

  margin-left: 0;
  margin-right: 0;

}

.has-feedback label~.form-control-feedback {
  top: 36px;
}

.no-desc {
  color: rgba(0,0,0,.4);
}

.animate-show-hide {

  transition: all linear 0.3s;

  &.ng-hide {
    opacity:0;
  }

}
