<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" xmlns:th="http://www.thymeleaf.org">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string th:text="${context.proxyDlAppUrl}">app download url ...</string>
				</dict>

				<dict th:if="${context.proxyDlLargeIconUrl} != null">
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string th:text="${context.proxyDlLargeIconUrl}">app large icon download url ...</string>
				</dict>

				<dict th:if="${context.proxyDlSmallIconUrl} != null">
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string th:text="${context.proxyDlSmallIconUrl}">app small icon download url ...</string>
				</dict>

			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string th:text="${context.appBundleIdentifier}">app bundle-identifier ...</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string th:text="${context.appTitle}">app title ...</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>