<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="mad.administration">
    <head>
        <meta charset="UTF-8"/>
        <title>Administration</title>
        <link rel="stylesheet" th:href="@{/resources/styles/vendors.css}" />
        <link rel="stylesheet" th:href="@{/resources/styles/bootstrap.css}" />
        <link rel="stylesheet" th:href="@{/resources/styles/app.css}" />
        <script th:src="@{/resources/scripts/vendors.js}"></script>
        <script th:src="@{/resources/scripts/app.js}"></script>
        <script th:src="@{/resources/scripts/partials-tpls.js}"></script>
    </head>
    <body id="admin-page">

        <div class="container">

            <h1>Administration</h1>

            <!-- first row  -->
            <tabset justified="false">

                <tab>

                    <tab-heading>
                        <i class="fa fa-cloud-upload"></i> Upload an app
                    </tab-heading>

                    <div class="inner-tab-content-wrapper" id="upload-app-pane" ng-controller="AddNewAppFormCtrl">

                        <h3>New app</h3>

                        <div cg-busy="{promise:promise, message:message}" class="well">

                            <form class="form-horizontal container-fluid upload-form" role="form" ng-submit="submit()">
                                <div class="row">
                                    <div class="col-md-5">

                                        <div class="form-group has-feedback" ng-controller="BundleListCompletionCtrl">
                                            <label for="bundle" class="control-label">Bundle</label>
                                            <input type="text" id="bundle" name="bundle" ng-model="formData.bundle"
                                                   typeahead="bundle for bundle in getBundles($viewValue)"
                                                   typeahead-loading="loadingBundles"
                                                   typeahead-template-url="/partials/typehead-list-item.tpl.html"
                                                   typeahead-on-select="onSelect($item, $model, $label)"
                                                   typeahead-min-length="3"
                                                   typeahead-wait-ms="500"
                                                   class="form-control" placeholder="Ex: com.xyz.app ..." required>
                                            <i ng-show="loadingBundles" class="fa fa-refresh fa-lg form-control-feedback"></i>
                                        </div>

                                        <div class="form-group">
                                            <label for="profile" class="control-label">Profile</label>
                                            <select id="profile" selectpicker name="profile" class="form-control" ng-model="formData.profile" required>
                                                <option value=""></option>
                                                <option th:each="profile : ${availableProfiles}" th:value="${profile}" th:text="${profile}">profile</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="name" class="control-label">Name</label>
                                            <input type="text" class="form-control" id="name" name="name" required ng-model="formData.name" placeholder="Name of the app ..."/>
                                        </div>
                                        <div class="form-group">
                                            <label for="version" class="control-label">Version</label>
                                            <input type="text" class="form-control" id="version" name="version" required ng-model="formData.version" placeholder="Ex: 1.0, 2.3.5 ..."/>
                                        </div>
                                        <div class="form-group">
                                            <label for="description" class="control-label">Description</label>
                                            <input type="text" class="form-control" id="description"  name="desc" ng-model="formData.desc" placeholder="Ex: Test App v1.2, fixed some bugs ..."/>
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-md-offset-1">

                                        <div class="form-group">
                                            <label for="app" class="control-label">
                                                App file  <i class="fa fa-mobile" style="font-size: 1.5em;"></i>
                                            </label>
                                            <bs-input-file name="app" file-model="formData.app"></bs-input-file>
                                        </div>
                                        <div class="form-group">
                                            <label for="small_icon" class="control-label">
                                                Small icon  <i class="fa fa-file-image-o"></i>
                                            </label>
                                            <bs-input-file name="small_icon" file-model="formData.smallIcon"></bs-input-file>
                                        </div>
                                        <div class="form-group">
                                            <label for="large_icon" class="control-label">
                                                Large icon   <i class="fa fa-file-image-o" style="font-size: 1.2em;"></i>
                                            </label>
                                            <bs-input-file name="large_icon" file-model="formData.largeIcon"></bs-input-file>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-block">Upload the new app</button>
                                        </div>
                                        <div ng-show="uploadResultMessage.length" class="alert" ng-class="uploadResultClass"
                                             role="alert" ng-bind-html="uploadResultMessage"></div>

                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                </tab>

                <tab>

                    <tab-heading>
                        <i class="fa fa-cube"></i> Manage apps
                    </tab-heading>

                    <div class="inner-tab-content-wrapper" id="manage-apps-pane" ng-controller="ManageAppsCtrl">

                        <h3>All apps grouped by bundle</h3>

                        <div cg-busy="{promise:promise}">

                            <accordion close-others="true">
                                <accordion-group ng-repeat="bundle in bundles | orderBy:'identifier':false" is-open="status.open">
                                    <accordion-heading>
                                        {{bundle.identifier}} - {{bundle.profile}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                    </accordion-heading>
                                    <table class="table table-striped table-condensed" ng-hide="!bundle.versions.length">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Version</th>
                                                <th>Description</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="version in bundle.versions | orderBy:'number':true">
                                                <td>{{version.name}}</td>
                                                <td>{{version.number}}</td>
                                                <td ng-class="{'no-desc': !version.description}">{{version.description || 'No description.'}}</td>
                                                <td><a ng-href="#" ng-click="removeAppVersion(bundle,version)" class="remove-app-icon glyphicon glyphicon-trash"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div ng-show="!bundle.versions.length">
                                        <span>No app version,</span>&nbsp;<a ng-click="removeBundle(bundle)" title="Delete this bundle and all its apps" class="" ng-href="#">remove</a>&nbsp;<span>this bundle ?</span>
                                    </div>
                                </accordion-group>
                            </accordion>

                            <div ng-show="!bundles.length" class="alert alert-info" role="alert">No apps in this store yet.</div>

                        </div>

                    </div>

                </tab>

                <tab>

                    <tab-heading>
                        <i class="fa fa-cubes"></i> Manage bundles
                    </tab-heading>

                    <div class="inner-tab-content-wrapper row" id="manage-bundles-pane" ng-controller="ManageBundlesCtrl">

                        <div class="col-md-5">

                            <h3>New bundle</h3>

                            <div class="well">

                                <form role="form" ng-submit="createBundle()">

                                    <div class="form-group">
                                        <label for="new-bundle-identifier" class="control-label">Identifier</label>
                                        <input type="text" class="form-control" id="new-bundle-identifier" name="new_bundle_identifier" ng-model="formData.identifier" placeholder="Ex: com.xyz.dev" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="new-bundle-profile" class="control-label">Profile</label>
                                        <select id="new-bundle-profile" name="new_bundle_profile" class="form-control" ng-model="formData.profile" selectpicker required>
                                            <option value=""></option>
                                            <option th:each="profile : ${availableProfiles}" th:value="${profile}" th:text="${profile}">profile</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-block">Create a new bundle</button>
                                        <span ng-show="showLabelMessage" class="label {{labelMessageType}}">{{labelMessage}}</span>
                                    </div>

                                </form>

                            </div>

                        </div>

                        <div class="col-md-6 col-md-offset-1">

                            <h3 style="margin-top: 0;">All bundles</h3>

                            <div cg-busy="{promise:promise}">

                                <ul class="list-group" ng-hide="!bundles.length">
                                    <li ng-repeat="bundle in bundles | orderBy:'identifier':false" class="list-group-item">
                                        <b>{{bundle.identifier}} - {{bundle.profile}}</b> <a ng-href="#" ng-click="removeBundle(bundle)" class="remove-app-icon glyphicon glyphicon-trash"></a>
                                        <span class="badge">{{ bundle.versions.length || 0 }}</span>
                                    </li>
                                </ul>

                                <div ng-show="bundleLoaded && !bundles.length" class="alert alert-info" role="alert">No apps in this store yet.</div>

                            </div>

                        </div>


                    </div>

                </tab>

            </tabset>

        </div>

    </body>
</html>