<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="mad.login">
<head>
    <meta charset="UTF-8"/>
    <title>Please sign in to download an app</title>

    <link rel="stylesheet" th:href="@{/resources/styles/vendors.css}" />
    <link rel="stylesheet" th:href="@{/resources/styles/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/resources/styles/app.css}" />

</head>
<body>

    <div class="container">

        <form class="form-signin center-block" th:action="@{/login/auth}" method="post" role="form">
            <h1>Apps store</h1>
            <div class="input-group username">
                <span class="input-group-addon">
                    <i class="fa fa-user fa-fw"></i>
                </span>
                <input type="text" class="form-control input-lg" placeholder="Username" name="username" required autofocus />
            </div>
            <div class="input-group password">
                <span class="input-group-addon">
                    <i class="fa fa-lock fa-fw"></i>
                </span>
                <input type="password" class="form-control input-lg" placeholder="Password" name="password" required />
            </div>
            <p th:if="${invalidCredentials}" class="bg-danger invalid-credentials">Invalid credentials</p>
            <button class="btn btn-lg btn-primary btn-block" ng-click type="submit">
                Sign in <i class="fa fa-sign-in fa-fw"></i>
            </button>
        </form>

    </div>
</body>
</html>