<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="mad.store">
    <head>
        <meta charset="UTF-8"/>
        <title>Apps Store</title>
        <link rel="stylesheet" th:href="@{/resources/styles/vendors.css}" />
        <link rel="stylesheet" th:href="@{/resources/styles/bootstrap.css}" />
        <link rel="stylesheet" th:href="@{/resources/styles/app.css}" />
        <script th:src="@{/resources/scripts/vendors.js}"></script>
        <script th:src="@{/resources/scripts/app.js}"></script>
        <script th:src="@{/resources/scripts/partials-tpls.js}"></script>
    </head>
    <body>

        <div class="container" ng-controller="AppsListCtrl">

            <h3>Apps store</h3>

            <div cg-busy="{promise:promise, templateUrl:loadingTemplateUrl}">


                <div ng-repeat="bundle in bundles | removeBundleIfNoAppVersions | orderBy:'identifier':true" ng-cloak>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="label label-success">{{ bundle.identifier }}</span>
                                <span class="pull-right">{{bundle.profile}}</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="apps-list" ng-repeat="version in bundle.versions | orderBy:'number':true">
                                <div class="row app-version-row">
                                    <div class="media col-xs-10 col-sm-10 col-md-10">
                                        <a class="media-left media-middle" href="#" ng-click="downloadManifest(version.manifestDownloadUrl)">
                                            <div class="pull-left" ng-switch="" on="version.iconDownloadUrl || 'null'">
                                                <div ng-switch-when="null">
                                                    <span class="default-preview-icon glyphicon glyphicon-question-sign"></span>
                                                </div>
                                                <div ng-switch-default="">
                                                    <img class="preview-icon" ng-src="{{version.iconDownloadUrl}}" />
                                                </div>
                                            </div>
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{version.name}} - {{version.number}}</h4>
                                            {{version.description}}
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2">
                                        <a type="button" ng-click="downloadManifest(version.manifestDownloadUrl)"
                                           class="pull-right dl_manifest_btn btn btn-success glyphicon glyphicon-cloud-download"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="loaded && !numberTotalOfApps" class="alert alert-info" role="alert">No apps in this store yet.</div>

            </div>

        </div>

    </body>
</html>